<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../styles/cover.css" rel="stylesheet">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand">Matchup:</h3>
            <nav class="nav nav-masthead justify-content-center">
            </nav>
          </div>
        </header>

        {% if nextMatchup %}
            <main role="main" class="inner cover">
                <form id="matchup-form" method="post">
                    {% csrf_token %}
                    <button class="player-button" type="submit" id="player-one" value="{{ nextMatchup.PlayerOneID }}">{{ nextMatchup.PlayerOneName }}</button>
                    <button class="player-button" type="submit" id="player-two"  value="{{ nextMatchup.PlayerTwoID }}">{{ nextMatchup.PlayerTwoName }}</button>
                </form>
            </main>
        {% endif %}
        

        
        {% if rankingsList %}
          <table style="width:300px">
            <ol>
              <tr>
                <th>Player</th>
                <th>Rating</th>
              </tr>
                {% for player in rankingsList %}
                    {% if player.Position == "RB" %}
                      <tr>
                        <td><li>{{ player.Name }}</li></td>
                        <td>{{ player.Rating|floatformat:"0" }}</td> 
                      </tr>
                    {% endif %}
                {% empty %}
                    <li>Sorry, no players in this list.</li>
                {% endfor %}
            </ol>
          </table>   
        {% endif %}
          

        <footer class="mastfoot mt-auto">
        </footer>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>

        $(".player-button").click(function(event){
            event.preventDefault();
            console.log(event)
            $.ajax({
                url: '/PostMatchup',
                type: "POST",
                data: {
                    player1: document.getElementById("player-one").value,
                    player2: document.getElementById("player-two").value,
                    position: "RB",
                    winner: event.target.value,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(json){
                    console.log(json);
                    document.getElementById("player-one").value = json.nextMatchup.PlayerOneID;
                    document.getElementById("player-one").innerHTML = json.nextMatchup.PlayerOneName;
                    document.getElementById("player-two").value = json.nextMatchup.PlayerTwoID;
                    document.getElementById("player-two").innerHTML = json.nextMatchup.PlayerTwoName;
                },

                error: function() {
                    console.log("failure is not an option");
                }  
            })
        });

    </script>
</body>
</html>