#rankings-container {
    width: 90%;
    margin: 50px auto;

    #ranking-wrapper {

        #ranking-filters {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            overflow: hidden;

            .ranking-filter {
                padding: 4px;
                box-sizing: border-box;
                margin: 10px;
            }
        }

        .rankings-table {
            margin: 25px auto;
            border-radius: 5px;
        }
    }
}

@media only screen and (max-width: 680px) {
    #rankings-container {
        #ranking-wrapper {
            #ranking-filters {
                .ranking-filter {
                    width: 100%;
                }
            }
        }
    }
}
